body {
  padding: 12px;
  background-color: #EEE;
}
body, input, button {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}
input {
  width: 100px;
  padding: 10px;
  display: inline;
}